
body {
        font-family:"Courier New","Droid Sans",Arial,Helvetica,sans-serif;
        
         background-color:black;
    }
    .legend {
        border: 1px solid #555555;
        border-radius: 5px 5px 5px 5px;
        font-size: 0.8em;
        margin: 10px;
        padding: 8px;
    }
    .bld {
        font-weight: normal}
    

    text:hover { opacity: .7 !important; }
     
	
	    div.tooltip {   
		  position: absolute;           
		  text-align: center;           
		  width: auto;                  
		  height: auto;                 
		  padding: 2px;             
		  font: 12px sans-serif;        
		  background: lightsteelblue;   
		  border: 0px;      
		  border-radius: 8px;           
		  pointer-events: none;         
}




#drawing {

    color:white;
   
    
}

#backButton{
	display: none;
}



#occurence
{
	stroke: white;
    font: 15px sans-serif;
    color: white;
  
    display: inline-block;
    
}


#occurence text.active {
  fill: red;
}

#facebookCloud
{
	 display: inline-block;
	 width: 100%;
	 background-color: red;
}


.node {
	fill: steelblue;
}

.axis .domain {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: 5px;
  stroke-linecap: round;
}

.axis .halo {
  fill: none;
  stroke: #ddd;
  stroke-width: 8px;
  stroke-linecap: round;
}

.axis path{
	fill: none;
	stroke:red;
	shape-rendering: crispEdges;}
	


.slider .handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: .5;
  stroke-width: 1.25px;
  cursor: crosshair;
}

text:hover { opacity: .7 !important; }




DIV.HEAD
{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cfe7fa+0,6393c1+100;Grey+Blue+3D */
	background: #cfe7fa; /* Old browsers */
	background: -moz-linear-gradient(top,  #cfe7fa 0%, #6393c1 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #cfe7fa 0%,#6393c1 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #cfe7fa 0%,#6393c1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=0 ); /* IE6-9 */
}

div.inHEAD
{
	display: inline-block; 
	margin-right: 20px;
	
}

div.SHOW_TEXT
{
	width:500px; 
	color: white; 
	height:100px;
}

#box2 {

	width: 30%;
	
	position:absolute;


}


#informationBox {

			width: 350px;
		    height: 100px;
		    text-align: center;
		    vertical-align: middle;
		    position: absolute;
		    top: 50%;
		    margin-top: -50px;
		    left: 50%;
		    margin-left: -200px;
}


#scrollableTextbox {
		overflow: scroll;

		border: 1px solid #000;
		padding: 10px;
	
} 


.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.node circle {
  stroke: #fff;
  stroke-width: 1.5px;
}